*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --main-brand-color: #2196f3;
  --sekond-brand-color: #212121;
  --main-body-color: #ffffff;
  --buttom-second-color: #188ce8;
  --text-main-color: #2f303a;
  --text-sekond-color: #757575;
  --background-second-color: #f5f4fa;
  --background: #e5e5e5;
  --e-adress-color: rgba(225, 225, 225, 0.6);
}
body {
  font-style: normal;
  color: var(--sekond-brand-color);
  background-color: var(--main-body-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.container {
  width: 1600px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  height: 80px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* padding: 10px; */
  background-color: tomato;
  margin: 0;
}
.nav,
.nav-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}
.nav-info {
  width: 94px;
  padding-left: 93px;
}
a {
  text-decoration: none;
}
.logo {
  display: flex;
  align-items: center;
  padding-left: 215px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-brand-color);
}
.studio {
  color: var(--sekond-brand-color);
}
.studio-footer {
  color: var(--main-body-color);
}
.nav-info {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--sekond-brand-color);
}
.active {
  color: var(--main-brand-color);
}
.nav > li a:hover {
  color: var(--buttom-second-color);
}
.heder-contacts {
  display: flex;
  /*align-items: center;
  width: 307px;
  justify-content: space-between; */
}

.heder-contacts a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--text-sekond-color);
}
.heder-contacts a:hover {
  color: var(--main-brand-color);
}
.grafit {
  background-color: var(--text-main-color);
  margin: 0;
}
.effectiv {
  width: 1600px;
  height: 600px;
}
.solution {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-body-color);
}
.order {
  width: 200px;
  height: 50px;
  background: var(--main-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  /* text buttom */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-body-color);
  cursor: pointer;
}
.order:hover {
  background-color: var(--buttom-second-color);
}
.order:focus {
  cursor: progress;
}
.fors {
  display: flex;
  justify-content: center;
  margin: 94px;
  padding-left: 0px;
  background-color: aqua;
}
.fors-li {
  padding-left: 10px;
  padding-right: 5px;
}
li {
  list-style: none;
}
.soft-skils {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--sekond-brand-color);
}
.skils {
  width: 270px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-sekond-color);
}
.pic {
  width: 1220px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.mishion {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--sekond-brand-color);
  padding-top: 90px;
  padding-bottom: 10px;
}
.team {
  background-color: var(--background-second-color);
  width: 1600px;
  height: 650px;
}
.team-box {
  width: 1600px;
  display: flex;
  justify-content: centr;
  padding-left: 0px;
  background-color: #2196f3;
}
.team-box-unit {
  width: 270px;
  height: 368px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0 15px 0 15px;
}
.soname {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--sekond-brand-color);
  margin-top: 30px;
}
.job {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 0;
  letter-spacing: 0.03em;
  color: var(--text-sekond-color);
}
.job-result {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--sekond-brand-color);
}
.job-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-sekond-color);
}

.adress {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-body-color);
}
.e-adress {
  color: var(--e-adress-color);
  text-decoration: none;
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.adress:hover,
.e-adress:hover,
.e-adress:focus,
.adress:focus {
  color: var(--main-brand-color);
}
.filtr-menu {
  display: flex;
  display: inline-flexbox;
}
.filtr {
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
  background: var(--background-second-color);
  border: 0;
  border-radius: 4px;
  margin: 5px;
  /*  text buttom */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--sekond-brand-color);
  cursor: pointer;
}
.filtr:hover,
.filtr:focus {
  background: var(--main-brand-color);
  color: var(--main-body-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
