*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --main-brand-color: #2196f3;
  --sekond-brand-color: #212121;
  --main-body-color: #ffffff;
  --buttom-second-color: #188ce8;
  --text-main-color: #2f303a;
  --text-sekond-color: #757575;
  --background-second-color: #f5f4fa;
  --background: #e5e5e5;
  --e-adress-color: rgba(225, 225, 225, 0.6);
}
body {
  font-family: Roboto, sans-serif;
  color: var(--sekond-brand-color);
  background-color: var(--main-body-color);
  font-size: 14px;
  /* line-height: 1.14; */
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
img {
  display: block;
  min-width: 100%;
  height: auto; /**/
}
a {
  text-decoration: none;
}
li {
  list-style: none;
  margin: 0;
  padding-left: 0px;
}
.link {
  text-decoration: none;
  padding: 0px;
}
.section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 94px;
  margin-bottom: 94px;
  padding: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}
.nav {
  display: flex;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  /* background-color: gray; */
}

.logo-header {
  font-family: "Raleway";
  /* font-style: normal; */
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-brand-color);
  margin-right: 93px;
}

.studio {
  color: var(--sekond-brand-color);
}
.nav-info {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--sekond-brand-color);
  margin-right: 50px;
}
.active {
  color: var(--main-brand-color);
}
.nav > li a:hover {
  color: var(--buttom-second-color);
}
.nav .nav-info {
  display: block;
}
.heder-contacts {
  display: flex;
  justify-content: end;
  margin: 0px;
  list-style: none;
  /* background-color: #2196f3; */
}
.heder-contacts a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--text-sekond-color);
}
.heder-contacts a:hover {
  color: var(--main-brand-color);
}
.heder-contacts-link {
  margin-left: 50px;
}
.market {
  background-color: var(--text-main-color);
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 1600px;
  /* height: 600px; */
}
.effectiv {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.solution {
  text-align: center;
  width: 650px;
  margin: 0px auto;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-body-color);
  /* background-color: #2196f3; */
}
.order {
  width: 200px;
  height: 50px;
  background: var(--main-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  /* text buttom */
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-body-color);
  cursor: pointer;
}
.order:hover {
  background-color: var(--buttom-second-color);
}
.order:focus {
  cursor: progress;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.fors {
  display: flex;
}
.fors-li {
  margin: 0 15px 0 15px;
}
.fors-li:first-child {
  margin-left: 0px;
}
.fors-li:last-child {
  margin-right: 0px;
}
.soft-skils {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--sekond-brand-color);
  width: 270px;
  margin: 0 0 10px 0;
}
.skils {
  width: 270px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-sekond-color);
  margin: 0;
}
.hobby {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--sekond-brand-color);
  margin-bottom: 50px;
}
.pic {
  width: 1200px;
  display: flex;
  margin: 0 auto 94px auto;
  padding: 0px;
}
.img-box {
  margin: auto 15px auto 15px;
}
.img-box:first-child {
  margin-left: 0px;
}
.img-box:last-child {
  margin-right: 0px;
}
.team {
  background-color: var(--background-second-color);
  width: 1600px;
  padding: 94px;
}
.mishion {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--sekond-brand-color);
  margin: 0px auto 50px auto;
}

.team-box {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 0;
  justify-content: center;
}
.team-box-unit {
  width: 270px;
  height: 368px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: auto 15px auto 15px;
}
.team-box-unit:first-child {
  margin-left: 0px;
}
.team-box-unit:last-child {
  margin-right: 0px;
}
.soname {
  text-align: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--sekond-brand-color);
  margin-top: 30px;
}
.job {
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-sekond-color);
  margin-top: 10px;
}
.grafit {
  background-color: var(--text-main-color);
  width: 1600px;
  height: 252px;
  padding: 60px;
  margin: 0 auto;
}
.logo {
  width: 1200px;
  display: block;
  margin: 0px auto 20px auto;
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-brand-color);
}
.studio-footer {
  color: var(--main-body-color);
}
.footer-contacts-block {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}
.footer-contacts {
  margin-bottom: 5px;
}
.adress {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-body-color);
}
.e-adress {
  color: var(--e-adress-color);
  font-style: normal;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.adress:hover,
.e-adress:hover,
.e-adress:focus,
.adress:focus {
  color: var(--main-brand-color);
}

.menu.center {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-top: 94px;
  margin-bottom: 50px;
  list-style: none;
}
.menu .link {
  display: block;
  padding: 6px 22px;
  border-radius: 4px;
  text-decoration: none;
  border: 0;
  margin: 0 4px 0 4px;
  /*  text buttom */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--sekond-brand-color);
  background: var(--background-second-color);
  cursor: pointer;
}
.menu .link:hover,
.link:focus {
  background: var(--main-brand-color);
  color: var(--main-body-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.projekts {
  margin: 0px auto 94px auto;
}
.job-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.job-project {
  padding: 0px;
  margin: 10px;
}
.job-project-box {
  padding-top: 20px;
  padding-left: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  background-color: var(--main-body-color);
}
.job-project:nth-child(n + 7) {
  margin-bottom: 0px;
}
.job-project:nth-child(-n + 3) {
  margin-top: 0px;
}
.job-project:nth-child(3n) {
  margin-right: 0px;
}
.job-project:nth-child(3n + 1) {
  margin-left: 0px;
}
.job-result {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.job-title {
  margin-bottom: 30px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88px;
  letter-spacing: 0.03em;
  color: var(--text-sekond-color);
}

